.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/Header_HK.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: none;
  margin: 274px auto 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 30px 97px 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 {
  min-height: 98px;
}

.u-section-2 .u-sheet-1 {
  min-height: 467px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 56px;
  margin-bottom: 29px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 382px;
}

.u-section-2 .u-container-layout-1 {
  padding: 22px 45px;
}

.u-section-2 .u-icon-1 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 1px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 30px 15px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0 15px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 382px;
  background-image: url("images/Integration_neomas1.001.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 318px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 315px;
    pointer-events: auto;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 9px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 212px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 98px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-image-1 {
    min-height: 228px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 655px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 557px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  width: 582px;
  height: 384px;
  margin: 72px -17px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 601px;
  margin-top: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 30px 82px 0 auto;
}

.u-section-3 .u-icon-1 {
  height: 57px;
  width: 57px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 32px auto 0 48px;
}

.u-section-3 .u-text-2 {
  margin: -62px 0 0 131px;
}

.u-section-3 .u-icon-2 {
  height: 57px;
  width: 57px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 23px auto 0 48px;
}

.u-section-3 .u-text-3 {
  margin: -61px 0 0 131px;
}

.u-section-3 .u-icon-3 {
  height: 57px;
  width: 57px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 18px auto 0 48px;
}

.u-section-3 .u-text-4 {
  margin: -60px 0 0 131px;
}

.u-section-3 .u-icon-4 {
  height: 57px;
  width: 57px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 19px auto 0 48px;
}

.u-section-3 .u-text-5 {
  margin: -57px 0 0 131px;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 15px 227px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 697px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    height: 307px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 697px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 39px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 39px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 124px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 124px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 124px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 124px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 171px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 24px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-3 .u-image-1 {
    height: 470px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 28px;
    margin-right: 160px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 36px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -63px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -59px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 32px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: -8px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-3 .u-image-1 {
    height: 353px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 701px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 33px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -66px;
    margin-left: 100px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 50px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -66px;
    margin-left: 100px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 63px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -72px;
    margin-left: 100px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 62px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -57px;
    margin-left: 100px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 42px;
    margin-left: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-3 .u-image-1 {
    height: 222px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 979px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 95px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 47px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -63px;
    margin-left: 95px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 58px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -67px;
    margin-left: 95px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 95px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-left: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 697px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 45px 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 488px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 13px;
}

.u-section-4 .u-icon-1 {
  height: 57px;
  width: 57px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: -20px auto 0 7px;
}

.u-section-4 .u-group-1 {
  width: 263px;
  min-height: 189px;
  margin: -57px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 0 0 20px;
}

.u-section-4 .u-text-4 {
  margin: 20px -7px 0 20px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 13px;
}

.u-section-4 .u-icon-2 {
  height: 57px;
  width: 57px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: -20px auto 0 7px;
}

.u-section-4 .u-group-2 {
  width: 263px;
  min-height: 189px;
  background-size: auto;
  margin: -57px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 0 0 0 20px;
}

.u-section-4 .u-text-6 {
  margin: 20px -7px 0 20px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 13px;
}

.u-section-4 .u-icon-3 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: -20px auto 0 7px;
}

.u-section-4 .u-group-3 {
  width: 263px;
  min-height: 189px;
  background-size: auto;
  margin: -57px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 0 0 0 20px;
}

.u-section-4 .u-text-8 {
  margin: 20px -7px 0 20px;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 13px;
}

.u-section-4 .u-icon-4 {
  height: 57px;
  width: 57px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -20px auto 0 7px;
}

.u-section-4 .u-group-4 {
  width: 263px;
  min-height: 189px;
  background-size: auto;
  margin: -57px 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: 0 0 0 20px;
}

.u-section-4 .u-text-10 {
  margin: 20px -7px 0 20px;
}

.u-section-4 .u-container-layout-9 {
  padding: 0 13px;
}

.u-section-4 .u-icon-5 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: -20px auto 0 7px;
}

.u-section-4 .u-group-5 {
  width: 263px;
  min-height: 189px;
  background-size: auto;
  margin: -57px 0 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  margin: 0 0 0 20px;
}

.u-section-4 .u-text-12 {
  margin: 20px -7px 0 20px;
}

.u-section-4 .u-container-layout-11 {
  padding: 0 13px;
}

.u-section-4 .u-icon-6 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: -20px auto 0 7px;
}

.u-section-4 .u-group-6 {
  width: 263px;
  min-height: 189px;
  background-size: auto;
  margin: -57px 0 0 auto;
}

.u-section-4 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  margin: 0 0 0 20px;
}

.u-section-4 .u-text-14 {
  margin: 20px -7px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-group-2 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-group-3 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-group-4 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-group-5 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-group-6 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-4 .u-group-1 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-2 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-3 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-4 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-5 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-6 {
    width: 243px;
    min-height: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-2 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-3 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-4 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 0;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-5 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 0;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-6 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1269px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 8px;
  }

  .u-section-4 .u-group-1 {
    width: 235px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -13px;
    margin-left: 8px;
  }

  .u-section-4 .u-group-2 {
    width: 235px;
    margin-top: -64px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -13px;
    margin-left: 8px;
  }

  .u-section-4 .u-group-3 {
    width: 235px;
    margin-top: -64px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: -13px;
    margin-left: 8px;
  }

  .u-section-4 .u-group-4 {
    width: 235px;
    margin-top: -64px;
  }

  .u-section-4 .u-icon-5 {
    margin-top: -13px;
    margin-left: 8px;
  }

  .u-section-4 .u-group-5 {
    width: 235px;
    margin-top: -64px;
  }

  .u-section-4 .u-icon-6 {
    margin-top: -13px;
    margin-left: 8px;
  }

  .u-section-4 .u-group-6 {
    width: 235px;
    margin-top: -64px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 737px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  margin: 45px 0 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 488px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-icon-1 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-5 .u-group-1 {
  width: 276px;
  min-height: 189px;
  margin: -65px 0 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 0 -39px 0 20px;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0 20px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-icon-2 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-5 .u-group-2 {
  width: 276px;
  min-height: 189px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 0 -39px 0 20px;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0 20px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-icon-3 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-5 .u-group-3 {
  width: 276px;
  min-height: 189px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 0 -39px 0 20px;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0 20px;
}

.u-section-5 .u-container-layout-7 {
  padding: 0;
}

.u-section-5 .u-icon-4 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-5 .u-group-4 {
  width: 276px;
  min-height: 189px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 0 -39px 0 20px;
}

.u-section-5 .u-text-10 {
  margin: 20px 0 0 20px;
}

.u-section-5 .u-container-layout-9 {
  padding: 0;
}

.u-section-5 .u-icon-5 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-5 .u-group-5 {
  width: 276px;
  min-height: 189px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-5 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  margin: 0 -39px 0 20px;
}

.u-section-5 .u-text-12 {
  margin: 20px 0 0 20px;
}

.u-section-5 .u-container-layout-11 {
  padding: 0;
}

.u-section-5 .u-icon-6 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-5 .u-group-6 {
  width: 276px;
  min-height: 189px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-5 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-13 {
  font-weight: 700;
  margin: 0 -39px 0 20px;
}

.u-section-5 .u-text-14 {
  margin: 20px 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 25px;
  }

  .u-section-5 .u-group-1 {
    width: 201px;
    min-height: 263px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 25px;
  }

  .u-section-5 .u-group-2 {
    width: 201px;
    min-height: 263px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 25px;
  }

  .u-section-5 .u-group-3 {
    width: 201px;
    min-height: 263px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 25px;
  }

  .u-section-5 .u-group-4 {
    width: 201px;
    min-height: 263px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 25px;
  }

  .u-section-5 .u-group-5 {
    width: 201px;
    min-height: 263px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-5 .u-icon-6 {
    margin-left: 25px;
  }

  .u-section-5 .u-group-6 {
    width: 201px;
    min-height: 263px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-5 .u-group-1 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-5 .u-group-2 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-5 .u-group-3 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-5 .u-group-4 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-5 .u-group-5 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-5 .u-group-6 {
    width: 243px;
    min-height: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1293px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 42px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 999px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 6px;
  }

  .u-section-5 .u-group-1 {
    width: 443px;
    margin-top: -63px;
    margin-bottom: -2px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 1px;
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 6px;
  }

  .u-section-5 .u-group-2 {
    width: 443px;
    margin-top: -63px;
    margin-bottom: -2px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 1px;
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 6px;
  }

  .u-section-5 .u-group-3 {
    width: 443px;
    margin-top: -63px;
    margin-bottom: -2px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-7 {
    padding-top: 1px;
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 6px;
  }

  .u-section-5 .u-group-4 {
    width: 443px;
    margin-top: -63px;
    margin-bottom: -2px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-9 {
    padding-top: 1px;
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-5 {
    margin-top: 6px;
  }

  .u-section-5 .u-group-5 {
    width: 443px;
    margin-top: -63px;
    margin-bottom: -2px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-11 {
    padding-top: 1px;
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-6 {
    margin-top: 6px;
  }

  .u-section-5 .u-group-6 {
    width: 443px;
    margin-top: -63px;
    margin-bottom: -2px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1659px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1416px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-group-1 {
    width: 235px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-group-2 {
    width: 235px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-group-3 {
    width: 235px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-group-4 {
    width: 235px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-group-5 {
    width: 235px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-bottom: 8px;
  }

  .u-section-5 .u-group-6 {
    width: 235px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 737px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  margin: 45px 0 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 488px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-icon-1 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-6 .u-group-1 {
  width: 295px;
  min-height: 213px;
  margin: -65px -19px 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 0 20px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 0 -14px 0 20px;
}

.u-section-6 .u-text-4 {
  margin: 20px 20px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-6 .u-icon-2 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-6 .u-group-2 {
  width: 295px;
  min-height: 213px;
  background-size: auto;
  margin: -65px -19px 0 auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 0 20px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 0 108px 0 20px;
}

.u-section-6 .u-text-6 {
  margin: 20px 20px 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-6 .u-icon-3 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-6 .u-group-3 {
  width: 295px;
  min-height: 213px;
  background-size: auto;
  margin: -65px -19px 0 auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 0 0 20px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 0 70px 0 20px;
}

.u-section-6 .u-text-8 {
  margin: 20px 20px 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-6 .u-icon-4 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-6 .u-group-4 {
  width: 295px;
  min-height: 213px;
  background-size: auto;
  margin: -65px -19px 0 auto;
}

.u-section-6 .u-container-layout-8 {
  padding: 0 0 20px;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 0 109px 0 20px;
}

.u-section-6 .u-text-10 {
  margin: 20px 20px 0;
}

.u-section-6 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-6 .u-icon-5 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-6 .u-group-5 {
  width: 295px;
  min-height: 213px;
  background-size: auto;
  margin: -65px -19px 0 auto;
}

.u-section-6 .u-container-layout-10 {
  padding: 0 0 20px;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  margin: 0 80px 0 20px;
}

.u-section-6 .u-text-12 {
  margin: 20px 20px 0;
}

.u-section-6 .u-container-layout-11 {
  padding: 30px 0;
}

.u-section-6 .u-icon-6 {
  height: 57px;
  width: 57px;
  background-image: none;
  margin: 0 auto 0 20px;
}

.u-section-6 .u-group-6 {
  width: 295px;
  min-height: 213px;
  background-size: auto;
  margin: -65px -19px 0 auto;
}

.u-section-6 .u-container-layout-12 {
  padding: 0 0 20px;
}

.u-section-6 .u-text-13 {
  font-weight: 700;
  margin: 0 53px 0 20px;
}

.u-section-6 .u-text-14 {
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 2px;
  }

  .u-section-6 .u-group-1 {
    width: 201px;
    min-height: 313px;
    margin-right: -15px;
    margin-bottom: -1px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-6 .u-text-3 {
    width: 141px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 2px;
  }

  .u-section-6 .u-group-2 {
    width: 201px;
    min-height: 313px;
    margin-right: -15px;
    margin-bottom: -1px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-6 .u-text-5 {
    width: 141px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 2px;
  }

  .u-section-6 .u-group-3 {
    width: 201px;
    min-height: 313px;
    margin-right: -15px;
    margin-bottom: -1px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 20px;
  }

  .u-section-6 .u-text-7 {
    width: 141px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-icon-4 {
    margin-top: 2px;
  }

  .u-section-6 .u-group-4 {
    width: 201px;
    min-height: 313px;
    margin-right: -15px;
    margin-bottom: -1px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 20px;
  }

  .u-section-6 .u-text-9 {
    width: 141px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-9 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-icon-5 {
    margin-top: 2px;
  }

  .u-section-6 .u-group-5 {
    width: 201px;
    min-height: 313px;
    margin-right: -15px;
    margin-bottom: -1px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 20px;
  }

  .u-section-6 .u-text-11 {
    width: 141px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-11 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-6 .u-icon-6 {
    margin-top: 2px;
  }

  .u-section-6 .u-group-6 {
    width: 201px;
    min-height: 313px;
    margin-right: 0;
    margin-bottom: -1px;
    margin-left: 106px;
  }

  .u-section-6 .u-container-layout-12 {
    padding-left: 20px;
  }

  .u-section-6 .u-text-13 {
    width: 141px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 3px;
  }

  .u-section-6 .u-group-1 {
    width: 243px;
    min-height: 238px;
    margin-top: -68px;
    margin-right: -18px;
    margin-bottom: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 23px;
    margin-left: 17px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 3px;
  }

  .u-section-6 .u-group-2 {
    width: 243px;
    min-height: 238px;
    margin-top: -68px;
    margin-right: -18px;
    margin-bottom: 0;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-right: 23px;
    margin-left: 17px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 3px;
  }

  .u-section-6 .u-group-3 {
    width: 243px;
    min-height: 238px;
    margin-top: -68px;
    margin-right: -18px;
    margin-bottom: 0;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-right: 23px;
    margin-left: 17px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-6 .u-icon-4 {
    margin-top: 3px;
  }

  .u-section-6 .u-group-4 {
    width: 243px;
    min-height: 238px;
    margin-top: -68px;
    margin-right: -18px;
    margin-bottom: 0;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-right: 23px;
    margin-left: 17px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-6 .u-icon-5 {
    margin-top: 3px;
  }

  .u-section-6 .u-group-5 {
    width: 243px;
    min-height: 238px;
    margin-top: -68px;
    margin-right: -18px;
    margin-bottom: 0;
  }

  .u-section-6 .u-text-11 {
    width: auto;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-6 .u-text-12 {
    width: auto;
    margin-right: 23px;
    margin-left: 17px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-6 .u-icon-6 {
    margin-top: 3px;
  }

  .u-section-6 .u-group-6 {
    width: 243px;
    min-height: 238px;
    margin: -68px -18px 0 auto;
  }

  .u-section-6 .u-text-13 {
    width: auto;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-6 .u-text-14 {
    width: auto;
    margin-right: 23px;
    margin-left: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1318px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1084px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 0;
    margin-left: 23px;
  }

  .u-section-6 .u-group-1 {
    width: 443px;
    min-height: 142px;
    margin-top: -57px;
    margin-right: -1px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 0;
    margin-left: 23px;
  }

  .u-section-6 .u-group-2 {
    width: 443px;
    min-height: 142px;
    margin-top: -57px;
    margin-right: -1px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 0;
    margin-left: 23px;
  }

  .u-section-6 .u-group-3 {
    width: 443px;
    min-height: 142px;
    margin-top: -57px;
    margin-right: -1px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 0;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-4 {
    margin-top: 0;
    margin-left: 23px;
  }

  .u-section-6 .u-group-4 {
    width: 443px;
    min-height: 142px;
    margin-top: -57px;
    margin-right: -1px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 0;
  }

  .u-section-6 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-5 {
    margin-top: 0;
    margin-left: 23px;
  }

  .u-section-6 .u-group-5 {
    width: 443px;
    min-height: 142px;
    margin-top: -57px;
    margin-right: -1px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 0;
  }

  .u-section-6 .u-container-layout-11 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-6 {
    margin-top: 0;
    margin-left: 23px;
  }

  .u-section-6 .u-group-6 {
    width: 443px;
    min-height: 142px;
    margin-top: -57px;
    margin-right: -1px;
  }

  .u-section-6 .u-container-layout-12 {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1487px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1261px;
  }

  .u-section-6 .u-group-1 {
    width: 235px;
    min-height: 190px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 20px;
  }

  .u-section-6 .u-group-2 {
    width: 235px;
    min-height: 190px;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 20px;
  }

  .u-section-6 .u-group-3 {
    width: 235px;
    min-height: 190px;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 20px;
  }

  .u-section-6 .u-group-4 {
    width: 235px;
    min-height: 190px;
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 20px;
  }

  .u-section-6 .u-group-5 {
    width: 235px;
    min-height: 190px;
    margin-right: 0;
  }

  .u-section-6 .u-text-11 {
    margin-left: 20px;
  }

  .u-section-6 .u-group-6 {
    width: 235px;
    min-height: 190px;
    margin-right: 0;
  }

  .u-section-6 .u-text-13 {
    margin-left: 20px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 590px;
}

.u-section-7 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin: 65px 0 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
  min-height: 312px;
  grid-gap: 24px 24px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-7 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0 32px;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-7 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 0 0 32px;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-7 .u-icon-3 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-7 .u-text-7 {
  margin: 20px 0 0 32px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 257px;
  }

  .u-section-7 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-7 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    min-height: 591px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 687px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 523px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-1 {
  margin: 9px 1px 0;
}

.u-section-8 .u-icon-1 {
  width: 57px;
  height: 57px;
  background-image: none;
  margin: 52px auto 0 35px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  width: 282px;
  margin: -59px auto 0;
}

.u-section-8 .u-text-3 {
  width: 282px;
  margin: 9px auto 0;
}

.u-section-8 .u-icon-2 {
  width: 57px;
  height: 57px;
  background-image: none;
  margin: 36px auto 0 34px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  width: 282px;
  margin: -54px auto 0;
}

.u-section-8 .u-text-5 {
  width: 282px;
  margin: 5px auto 0;
}

.u-section-8 .u-icon-3 {
  width: 57px;
  height: 57px;
  background-image: none;
  margin: 60px auto 0 35px;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  width: 282px;
  margin: -59px auto 0;
}

.u-section-8 .u-text-7 {
  margin: 9px 79px 0 124px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 75px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 40px 0;
}

.u-section-8 .u-text-8 {
  margin-top: 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 333px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-form-1 {
  margin: 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 55px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-right: -11px;
    margin-left: 152px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-right: -11px;
    margin-left: 152px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 55px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-right: -13px;
    margin-left: 155px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-right: -13px;
    margin-left: 155px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 55px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-right: -13px;
    margin-left: 155px;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-right: -14px;
    margin-left: 155px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 302px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 8px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 18px;
    margin-left: 74px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 32px;
    margin-left: 74px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 8px;
  }

  .u-section-8 .u-text-4 {
    margin-right: -73px;
    margin-left: 75px;
  }

  .u-section-8 .u-text-5 {
    margin-right: -73px;
    margin-left: 75px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 7px;
  }

  .u-section-8 .u-text-6 {
    margin-top: -60px;
    margin-right: -76px;
    margin-left: 78px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 10px;
    margin-right: -76px;
    margin-left: 78px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 415px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 28px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 35px;
    margin-left: 97px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 49px;
    margin-left: 97px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 28px;
  }

  .u-section-8 .u-text-4 {
    margin-top: -61px;
    margin-right: 35px;
    margin-left: 97px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 8px;
    margin-right: 35px;
    margin-left: 97px;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 64px;
    margin-left: 27px;
  }

  .u-section-8 .u-text-6 {
    margin-top: -62px;
    margin-right: 37px;
    margin-left: 95px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 4px;
    margin-right: 118px;
    margin-left: 96px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 32px;
    margin-left: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-right: -30px;
    margin-left: 88px;
  }

  .u-section-8 .u-text-3 {
    margin-right: -30px;
    margin-left: 88px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-8 .u-text-4 {
    margin-right: -30px;
    margin-left: 88px;
  }

  .u-section-8 .u-text-5 {
    margin-right: -30px;
    margin-left: 88px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-8 .u-text-6 {
    margin-right: -30px;
    margin-left: 88px;
  }

  .u-section-8 .u-text-7 {
    margin-right: -30px;
    margin-left: 88px;
  }
}